<h1>Bonjour et bienvenue à la Cagette !</h1>

<p>
On est ravi.e.s de te voir. Afin de finaliser ton inscription, rends-toi s’il te plaît sur ton espace membre de la Cagette pour y valider tes données personnelles (clique sur le lien ci-dessous). Ton identifiant est ton adresse mail et ton mot de passe est ta date de naissance (format JJMMAAAA).
</p>
<p>
<a href="https://espace-membre.lacagette-coop.fr">Espace Membre</a>
</p>
<p>
Cette dernière étape sert à repérer et corriger les erreurs de saisie qui ont pu se produire dans l’enregistrement de ta souscription à la Coop. Dès que ce sera fait, tu pourras accéder normalement au magasin. 
</p>
<p>
Si tu n’arrives pas à te connecter, c’est probablement que ta date de naissance a été mal saisie. Merci de nous le signaler à ton prochain passage au magasin !
</p>
<p>
N’oublie pas de te faire prendre en photo à l’accueil afin que nous puissions imprimer ton badge. 
</p>
<p>
Mais l’espace membre est bien plus que ça ! C’est aussi la gare centrale pour toutes les questions que tu pourrais te poser sur la Cagette.
</p>
<p>
Quand aura lieu mon prochain service ? Comment faire en cas d’absence ? 
</p>
<p>
Quoi de neuf à La Cagette ? Que raconte la dernière Gazette de La Cagette ?
</p> 
<p>
Comment participer plus activement à la Cagette ? Quels sont les comités en activité et comment les rencontrer ? Quand auront lieu leurs prochaines réunions ?
</p>
<p>
Comment demander un produit que je ne trouve pas encore en rayon ? Quoi de neuf depuis que j’ai fait une demande ? 
</p>
<p>
Tu y trouveras aussi les statuts de la coopérative, le manuel des membres, le forum de la Cagette, et bien d’autres informations !
</p>
<p>
Pour toute question concernant tes services, merci de ne pas écrire de mail, pour des raisons d'organisation nous ne pouvons malheureusement pas les traiter.<br />
Téléphone plutôt au Bureau des Membres au <strong>04 11 80 25 31 du mercredi au vendredi de 13h30 à 19h</strong>, ou passe en personne au <strong>19 avenue Georges Clemenceau</strong>.
</p>
<p>
Le magasin est ouvert le lundi de 14h à 21h, et du mardi au samedi de 8h à 21h.
</p>
<p>
Bienvenue dans ton supermarché ! 
</p>
La Cagette de Montpellier.
