<table class="table">
  <caption>Calendrier fixe</caption>
   <thead>
  <tr>
    <th scope="col" class="firstcol"></th>
    <th scope="col">Lundi</th>
    <th scope="col">Mardi</th>
    <th scope="col">Mercredi</th>
    <th scope="col">Jeudi</th>
    <th scope="col">Vendredi</th>
    <th scope="col">Samedi</th>
    {% if open_on_sunday %}
       <th scope="col">Dimanche</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="week_types" class="clearfix">
  <div class="oddeven_selector fl">
    <input type="checkbox" class="switch" id="even_weeks" value='0' checked><label for="even_weeks">Paires</label>
     <input type="checkbox" class="switch" id="odd_weeks" value='1' checked><label for="odd_weeks">Impaires</label>

  </div>
  <div class="selected_weeks fl">
    <input type="checkbox" class="switch" id="dw1" value='1' checked><label for="c1">A</label>
    <input type="checkbox" class="switch" id="dw2" value='2' checked><label for="c2">B</label>
    <input type="checkbox" class="switch" id="dw3" value='3' checked><label for="c3">C</label>
    <input type="checkbox" class="switch" id="dw4" value='4' checked><label for="c4">D</label>
  </div>
</div>
{% if type and type == 1 %}
<!--<div class="clearfix mtop25">Le trait <span class="alert">rouge</span> signale que le créneau est rempli à moins de 75%</div>-->
{% endif %}