<section class="grid-6 has-gutter" id="shift_choice">
   <div class="col-6 menu txtcenter">
    CHOIX DU CRÉNEAU
   </div>
   <div class="col-1 lat_menu">
     <button class="flex-container--column highlighted" data-select="{{mag_place_string}}">Magasin</button>
     {% if show_ftop_button %}
     ou ...
     <br />
     <button class="flex-container--column" data-select="Volant">Volant</button>
     {% endif %}
     {% if exemptions_shift_id != 0 %}
     ou ...
     <br />
     <button class="flex-container--column" data-select="Exemption">Exempté</button>
     {% endif %}
     <div class="info"></div>
   </div>
   <div class="col-5 main_content">
    {% include "members/shift_template_calendar.html" %}
   </div>

</section>