{% load static %}

<h2>FAQ</h2>
<p>Voici les réponses à toutes vos questions sur la procédure à suivre !</p>
<hr />

<button class="accordion">Qu'est ce qu'une réception ?</button>
<div class="panel txtleft">
  <p>Le but d'une réception est double : </p>
  <p>- compter les produits qui entrent dans nos stocks. En le comparant avec les produits qui sortent (qui sont vendus), nous pouvons calculer les volumes que nous avons besoin d'acheter chaque jour.</p>
  <p>- mettre à jour nos prix de vente. A la cagette tous les prix sont calculés en multipliant le prix d'achat par 123%, la marge unique appliquée à tous les produits. Entre la commande et la réception, les prix d'achats ont souvent changé. Nous devons donc les mettre à jour. Nous vérifions donc sur le bon de livraison les nouveaux prix.</p>
</div>

<button class="accordion">Glossaire</button>
<div class="panel txtleft">
  <p>Bon de commande : c'est le document qui consigne la commande telle que nous l'avons passée. Il indique la quantité et le prix des produits que nous avosn commandé. Quand vous cherchez une livraison, vous cherchez parmis les bon de commande en cours ( qui n'ont pas encore été receptionnés) </p>
  <p>Bon de réception : c'est le document que vous allez créer en faisant la réception. A la fin, il indiquera la quantité réellement reçue (après comptage) et le prix réellement facturé par le fournisseur (indiqué sur le bon de livraison) </p>
  <p>Bon de livraison : c'est le document envoyé par le fournisseur avec la palette. Il indique la quantité que le fournisseur pense nous avoir envoyé (nous allons vérifier) et le prix (pas toujours) auquel il compte nous le facturer.</p>
</div>

<button class="accordion">Comment me servir de cet outil ?</button>
<div class="panel txtleft">
  <p>Tu es à l'interieur de l'outils de réception. Ici, tu peux voir trois choses :</p>
  <p>- le bon de commande, dans la partie gauche de l'écran</p>
  <p>- le bon de réception, en bas à droite</p>
  <p>- la zone de recherche et d'édition, à gauche, au dessus du bon de réception</p>
  <p>La réception se passe en trois temps, #1 Compter les produits, #2 Débarasser la zone de réception #3 Mettre à jour les prix.</p>
</div>

<button class="accordion">#1 - Le Compter les produits</button>
<div class="panel txtleft">
  <p>Le but de cette étape est de compter tous les produits qui rentrent dans notre super marché.</p>
  <p>Pour réceptionner un produit, prends le premier produit que tu trouve dans la palette et recherche le dans le champ de recherche.</p>
  <p>Il s'affiche dans le bon de commande. Tu as deux possibilité, soit la quantité est juste soit elles est fausse.</p>
  <p>Si elle est juste, tu peux cliquer sur "Valider" (la petite case coché) à droite en face du produit. Le produit s'ajoute alors au bon de réception</p>
  <p>Si la quantité est fausse, il faut cliquer sur "Editer" (le petit crayon). Le produit apparait alors dans la zone d'édition, il suffit d'y inscrire la quantité réelle et de valider.</p>
  <p>Le plus simple est de stocker le produit dans les "rolls", les chariots en métal, dès qu'ils ont été comptés.</p>
  <p>Quand tous les articles de la palette ont été comptés, on peut passer à l'étape #2. Clique sur "Valider le comptage des produits".</p>
  <p>Penses bien à inscrire le code donné à la fin de cette étape sur le bon de livraison et à le tamponer</p>
</div>

<button class="accordion">Que faire si il n'y a pas de bon de livraison ?</button>
<div class="panel txtleft">
  <p>Certains fournisseur ont des difficultés à nous fournir des bons de livraison.</p>
  <p>Dans cette situation, la seule solution est de demander au salarié en service de nous imprimer le bon de commande pour s'en servir de bon de livraison.</p>
</div>

<button class="accordion">Que faire si une commande n'est pas dans la liste ?</button>
<div class="panel txtleft">
 <p>Pour certains fournisseurs, nous ne faisons pas de bon de commande. Par exemple, pour le pain. En effet, il s'agit de livraison automatiques en quantités négociées à l'avance. Certains tout petits fournisseurs nous livre aussi uniquement ce qu'ils sont capables de produire.</p>
 <p>Dans cette situation, il faut vérifier le bon de livraison et le donner au salarié en service.</p>
</div>


<button class="accordion">Que faire si il y a des produits dans la palette qui ne sont pas sur le bon de commande ?</button>
<div class="panel txtleft">
 <p>Il s'agit de produit qui n'ont pas été commandés ou du "reliquat" d'une ancienne commande. Nous essayons de ne pas fonctionner avec des reliquats mais touts nos fournisseurs n'arrivent pas forcément à le comprendre.</p>
 <p>Dans cette situation, la seule solution est de noter la référence et la quantité sur le rapport en cliquant sur "Renseigner un problème de livriason" et de le signaler au salarié en service quand vous avez terminé la réception.</p>
</div>

<button class="accordion">Que faire si il reste des produit dans le bon de commande et qui ne sont pas dans la palette ?</button>
<div class="panel txtleft">
 <p>Il s'agit de produit que nous avons commandé mais qui n'ont pas été livrés.</p>
 <p>Dans cette situation, il faut les ajouter au bon de réception comme les autres articles en indiquant une quantité égale à zéro</p>
</div>

<button class="accordion">#2 - Débarasser la zone de réception</button>
<div class="panel txtleft">
 <p>Dès que le comptage est finis, il faut débarasser la zone de réception : </p>
 <p>- si il s'agit de produit sec, les amener simplement dans la zone d'attente à côté du tableau de début de créneau</p>
 <p>- si il s'agit de produits frais, laitiers, traiteur ou viande, pense à marquer la date limite de consomation sur le carton avant de mettre le roll (chariot métalique) en chambre froide en attendant qu'il soit déchargé.</p>
 <p>- si il s'agit de fruits et légummes, il faut directement les mettre en stock ou en chambre froide (voir panneau explicatif sur la porte). Il faut marquer la date de réception sur le carton. </p>
</div>

<button class="accordion">#3 - La mise à jour des prix</button>
<div class="panel txtleft">
 <p>C'est la dernière étape !</p>
 <p>Lors de cette étape, nous allons mettre à jour les prix d'achats des produits afin de pouvoir mettre à jour son prix de vente à la cagette.</p>
 <p>Prends le bon de livraison, le papier qui est arrivé sur la palette.</p>
 <p>Cherche chaque article du bon de livraison dans le bon de réception grace au champ de recherche.</p>
 <p>Si le prix est le même que celui sur le bon de livraison, il suffit de valider.</p>
 <p>Si le prix est différent, il faut le changer en cliquant sur "Editer" (le petit stylo).</p>
 <p>Si il n'y a pas de prix sur le bon de livraison, clique sur "Pas de prix sur le bon de livraison"</p>
 <p>Quand tous les produits du bon de livraison sont passés en revue, tu peux cliquer sur "Valider la mise à jour des prix"</p>
 <p>Pense à tamponner le bon de livraison! La réception est terminé ! Bravo !</p>
</div>

<hr />

<script type="text/javascript" src="{% static 'js/all_common.js' %}"></script>
