{% load static %}

<h2>FAQ</h2>
<hr />
<p>Zone en construction, repassez plus tard...</p>
<!-- <p>Voici les réponses à toutes vos questions sur la procédure à suivre !</p>
<hr />

<button class="accordion">Qu'est ce qu'une réception ?</button>
<div class="panel txtleft">
  <p>Le but d'une réception est double : </p>
  <p>- compter les produits qui entrent dans nos stocks. En le comparant avec les produits qui sortent (qui sont vendus), nous pouvons calculer les volumes que nous avons besoin d'acheter chaque jour.</p>
  <p>- mettre à jour nos prix de vente. A la cagette tous les prix sont calculés en multipliant le prix d'achat par 123%, la marge unique appliquée à tous les produits. Entre la commande et la réception, les prix d'achats ont souvent changé. Nous devons donc les mettre à jour. Nous vérifions donc sur le bon de livraison les nouveaux prix.</p>
</div> -->

<hr />

<script type="text/javascript" src="{% static 'js/all_common.js' %}"></script>
