.header {
    margin: 1rem 0;
}

.login_area {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
}

#back_to_admin_index {
    position: absolute;
    top: 5px;
    left: 5px;
}

/* Search members area */
#search_member_area {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search_member_form_area {
    display:flex;
    align-items: center;
}

#search_member_form {
    margin-left: 10px;
}

.search_member_results_area {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.search_results_text {
    min-width: 150px;
}

.search_member_results {
    display: flex;
    flex-wrap: wrap;
}

.btn_possible_member {
    margin: 0.5rem 1rem;
}

/* Member info area */
#partner_data_area {
    width: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin: 30px auto;
    padding: 15px;
    box-shadow: 2px 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
}

.member_name_container {
    margin: 1rem 0 2rem 0;
}
.member_name_icon {
    color: #00a573;
    margin-right: 5px;
}
.member_info {
    font-weight: bold;
}

/* Actions */
#actions_on_member {
    margin: 15px;
}

#remove_shift_template_button {
    display: none;
}

.checkbox_area {
    margin: 10px 0;
}
#permanent_unsuscribe {
    margin-right: 5px;
}