#cash, #ch {
  margin-top: 15px;
}

.envelop_section {
  margin-bottom: 10px;
}

.custom_alert {
  display: none;
  cursor: pointer;
  margin-bottom: 15px;
}

#cash_envelops {
  margin-top: 30px;
}

#ch_envelops {
  margin-top: 30px;
}

.update_envelop_button, .delete_envelop_button {
  margin: 0 0 10px 15px;
}

.envelop_content_list {
  margin: 20px 0 15px 0;
}

/* Update envelop modal */

.envelop_lines {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update_envelop_line {
  margin: 5px 0;
  width: 60%;
  display: flex;
  position: relative;
}

.deleted_line_through {
  border-bottom: 1px solid #d9534f;
  position: absolute;
  content: "";
  width: 95%;
  height: 50%;
  display: none;
}

.update_envelop_line div {
  flex: 50% 1 0;
}

.line_partner_name_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.line_partner_name {
  text-align: left;
  padding: 0 5px;
}

.line_partner_input_container {
  display: flex;
  align-items: center;
}

.delete_envelop_line_icon {
  margin-left: 10px;
  color: #d9534f;
  cursor: pointer;
}

.envelop_comments {
  width: 60%;
  margin-bottom: 20px;
}

/* Accordion style */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #dee2e6;
  color: #212529;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.archive_button {
  padding: 18px;
}

hr {
  margin-top: 32px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
 background-color: #acb3c2;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel.active:after {
  margin-bottom: 30px;
}
