<div id="faqBDM" class=" mt-3">
    <div class="page_title txtcenter"><h1> Problèmes et demandes </h1></div>
    <div class="tiles_container">
        <div class="tile full_width_tile">
                <p>
                    <a href="https://supercoop.notion.site/supercoop/Foire-Aux-Questions-sur-la-participation-et-Formulaires-correspondants-106143413d0b400a9f94023962375304" target="_blank">Foire-Aux-Questions-sur-la-participation-et-Formulaires</a>
                </p>
                <p>
                    <em>En cliquant sur le lien ci-dessus, un nouvel onglet ou une nouvelle fenêtre affichera le contenu de la page sur le site supercoop.notion.site.</em>
                </p>
        </div>
    </div>
</div>

