
<div id="faqBDM" class=" mt-3">

  <div class="page_title txtcenter">
    <h1>
      J'ai un problème ou une demande
    </h1>
  </div>
  
  <div class="tiles_container">
    <div class="tile full_width_tile">
      <div class="tile_content">
        <div class="block">
          <div class="faq_intro_texts">
              <p>Je rencontre un problème ou j'ai une demande concernant mon statut de membre :</p>
              <ul>
                <li>
                  Je clique sur l'onglet qui correspond à ma demande puis je remplis le formulaire adéquat.
                </li>
                <li>
                  Un·e coopérateur·rice du Bureau Des Membres répondra à ma demande dès que possible.
                </li>
              </ul>
              
              <div class="info_slots_shifts">
                <p><i class="fas fa-exclamation-circle"></i> Créneau/service c'est quoi la différence?</p> 
                <p>Un créneau, c'est une plage récurrente, par exemple, tous les jeudi de semaine A de 13h30 à 16h30.</p> 
                <p>Un service, c'est une plage horaire en particulier, par exemple le jeudi 28 novembre de 13h30 à 16h30.</p> 
              </div>
          </div>
          
          <div class="param">
            <button type="button" class="accordion btn_faq">
              <span class="full_width">000 Gestion de mon créneau: réinscription, changement, désinscription temporaire (absence de moyenne ou longue durée)</span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <h3><b>Créneau/service c'est quoi la différence?</b></h3>
                <p>
                  Un créneau, c'est une plage récurrente, par exemple, tous les jeudi de semaine A de 13h30 à 16h30.<br/>
                  Un service, c'est une plage horaire en particulier, par exemple le jeudi 28 novembre de 13h30 à 16h30.
            
                </p>
              </div>

              <div class="grp_text">
                <h3><b>Se réinscrire à un créneau:</b></h3>
                <p>
                  Si tu es désinscrit.e parce que tu as manqué des services sans faire tes rattrapages il faut te réinscrire à un créneau. Il te faudra tout de même faire tes rattrapages avant d'être à jour de tes services.<br/>
                  <b>ATTENTION:</b> si tu es en binôme c'est avec le nom du.de la titulaire qu'il faut remplir le formulaire.
                </p>
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="unsuscribe_form_link_btn"
                  >
                    Réinscription à un crénau
                  </a>
                </div>
              </div>
              <div class="grp_text">
                <h3><b>Changer de créneau:</b></h3>
                <p>
                  Si ton créneau ne te convient plus tu peux demander à le changer.<br/>
                  <b>ATTENTION:</b> si tu es en binôme c'est avec le nom du.de la titulaire qu'il faut remplir le formulaire.
                </p>
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="change_template_form_link_btn"
                  >
                    Changement de crénau
                  </a>
                </div>
              </div>
              <div class="grp_text">
                <h3><b>Se désinscrire de son créneau:</b></h3>
                <p>
                  - Si tu as prévu de t'absenter de Montpellier ou que tu vas rencontrer une période durant laquelle tu ne pourras pas faire tes services tu peux te désinscrire de ton créneau. A ton retour il te faudra remplir le formulaire "réinscription à un créneau".<br/>
                  - Si tu ne souhaites plus participer à la coopérative mais que tu ne souhaites pas démissionner tout de suite, notamment car tu souhaites attendre que la part sociale prenne de la valeur pour te faire rembourser, tu dois te désinscrire de ton créneau. Au moment où tu souhaiteras démissionner il faudra remplir le formulaire du même nom. Tu ne pourras plus faire tes courses à la Cagette.<br/>
                  <b>ATTENTION:</b> si tu es en binôme et que l'autre personne souhaite continuer à participer il faut remplir le formulaire "se désolidariser de son binôme". Si tu es la personne titulaire du binôme l'autre personne devra remplir le formulaire "se réinscrire à un créneau".
        
                </p>
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="template_unsubscribe_form_link_btn"
                  >
                    Se désinscrire de son crénau
                  </a>
                </div>
              </div>
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width" >001 Gestion de mes services: échanger son service, arrivé.e en retard à son service, demande de congés maladie ou parental</span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <h3><b>Créneau/service c'est quoi la différence?</b></h3>
                <p>
                  Un créneau, c'est une plage récurrente, par exemple, tous les jeudi de semaine A de 13h30 à 16h30.<br/>
                  Un service, c'est une plage horaire en particulier, par exemple le jeudi 28 novembre de 13h30 à 16h30.
            
                </p>
              </div>

              <div class="grp_text">
                <h3><b>Échanger son service:</b></h3>
                <p>
                  Si tu ne peux pas venir effectuer ton service à la date prévue il te faut l'échanger sur ton espace membre.<br/>
                  <b>ATTENTION:</b> si tu es en binôme c'est via l'espace membre du titulaire du binôme qu'il faut le faire.
                </p>
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="shift_exchange_btn"
                  >
                    Échange de services
                  </a>
                </div>
              </div>
              
              <div class="grp_text">
                <h3><b>Demande de congé maladie ou parental</b></h3>
                <p><b>
                  - Si tu t'absentes sur une période de 4 semaines autre que pour une raison de santé ou parentale il t'es demandé de déplacer ton service.<br/>
                  - Si tu t'absentes plus il te faut se désinscrire de ton créneau puis, à ton retour te réinscrire à un créneau . Pendant cette période de désinscription tu ne dois pas faire de service et tu ne peux pas pas faire tes courses.
                </p></b>
                <p></b></p>
              </div>
              
              <div class="grp_text">
                <b><h3>Les congés maladie:</h3></b>
                Les congés maladie peuvent être pris en cas d’impossibilité physique de réaliser son service pendant une longue durée qui prend en compte<b> minimum 2 services</b>. Si ton impossibilité est d'un mois il t'es demandé de déplacer ton service.<br />
                En cas de rhume nous encourageons les coops à simplement déplacer leur service depuis l’espace membre. La coop a besoin de la participation de chacun.e !<br />
                <b>ATTENTION:</b> Compte tenu de la facilité offerte par le statut de binôme, les personnes formant un binôme ne pourront pas<br />
                bénéficier de congés maladie. Il sera alors possible de se désolidariser de son binôme en remplissant le formulaire adéquat sur l’espace membre afin d’en bénéficier.<br />
              </div>
              <div class="grp_text"><h3><b>Les congés parentaux</b></h3>
                Lors de la naissance d’un enfant, les coops peuvent continuer de faire leur courses sans faire de services pendant 12 mois.<br />
                Si les deux parents font partie de la coopérative, ils peuvent se partager leurs 12 mois comme il l’entendent. Il peuvent prendre par exemple 6 mois chacun.e en même temps ou 8 mois pour l'un.e puis 4 mois pour l'autre.<br />
                <br />
                Particularités: si les deux parents forment un binôme, i.elles ont alors accès à 6 mois de congé parental simultanément. S’ielles souhaitent répartir le congé différement il faut alors qu’ielles se débinomisent. Si l’un.e des deux parents est binôme avec un.e personne qui n’est pas l’autre parent, ielle doit se débinomiser pour bénéficier du congé parental.<br />
                <br />
                Quelque soit ta demande de congés merci de remplir le formulaire ci dessous:<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="sick_leave_form_link_btn"
                  >
                    Demande de congés
                  </a>
                </div>
              </div>
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width">002 Mon Statut : Je suis en statut "Rattrapage" ou désinscrit.e et je ne peux pas faire mes courses</span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <h2><b>Dans quel cas ?</b></h2>
                Tu es en statut "Rattrapage" si tu as raté un service.<br />
                Tu es désinscrit.e après avoir raté trois services d’affilée sans les rattraper. Tu es désinscrit.e de ton créneau afin d'y libérer une place.<br />
                Attention, le binôme est un cas particulier où une des deux personnes est la titulaire et l'autre la suppléante dont le statut est "désinscrit.e".<br />
              </div>

              <div class="grp_text">
                <h3><b>Que faire ?
                </b></h3>
                <h4>Si tu es en statut "Rattrapage" :</h4>
                Tu dois choisir ton/tes rattrapages avant de pouvoir refaire tes courses.<br />
                Pour choisir tes rattrapages, clique sur le bouton ci-dessous.<br />
                <div class="faq_link_button_area">
                  <a
                    href="echange-de-services"
                    type="button" 
                    class="btn--primary faq_link_button" 
                  >
                    Je sélectionne mes rattrapages
                  </a>
                </div>
              </div>
              <div class="grp_text">
                <h4>Si tu es désinscrit.e :</h4>
                Dans ce cas là, tu ne peux plus rien faire, ni t’inscrire à un rattrapage ni faire tes courses.  il faut te réinscrire sur un créneau.<br />
                Pour te réinscrire, il faut remplir le formulaire &quot;Se réinscrire sur un créneau&quot; et attendre qu'il soit traité. Dès que tu es réinscrit sur un créneau, n'oublie pas de t'inscrire à tes deux rattrapages.<br />
              </div>
              <div class="faq_link_button_area">
                <a
                  href="javascript:void(0);"
                  target="_blank"
                  type="button" 
                  class="btn--primary faq_link_button" 
                  id="unsuscribe_form_link_btn2"
                >
                  Réinscription à un crénau
                </a>
              </div>
              
              <div class="grp_text">
                Si tu ne comprends pas pourquoi tu es désinscrit.e ou suspendu.e,  tu peux le signaler au bureau des membres pour qu'il règle ton problème. N'hésite pas à renseigner un maximum d'information sur ta situation pour nous aider à régler ton problème : <br />
              </div>
              <div class="faq_link_button_area">
                <a
                  href="javascript:void(0);"
                  target="_blank"
                  type="button" 
                  class="btn--primary faq_link_button" 
                  id="request_form_link_btn2"
                >
                  Faire une demande au BDM
                </a>
              </div>
              
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width" >003 Mon binôme: créer un binôme, se désolidariser de son binôme, changer de binôme</span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <h3><b>Créer un binôme</b></h3>

                Afin de faciliter l’intégration de personnes qui ont des difficultés à rejoindre la Cagette et par mesure de solidarité : Chaque coopérateur·rice peut rattacher un·e autre coopérateur·rice. <br />
                Cependant, La Cagette a besoin de forces vives pour pouvoir fonctionner correctement et il est nécessaire qu'un maximum de personnes soient présentes sur les créneaux. <h4><b>C'est pourquoi ce statut de binôme, qui doit rester exceptionnel, est réservé à des personnes qui rencontrent de grandes difficultés organisationnelles dans leur quotidien.</b></h4> Ces difficultés sont à évaluer par la personne concernée. Par exemple : les mères ou les pères célibataires avec enfants, les personnes ayant une charge de travail et /ou des conditions particulières de travail, les aidants, les personnes rencontrant des problèmes de santé... Ce statut est transitoire selon l’évolution des conditions de vie de la personne concernée.
                <b>Comprendre le contexte du binôme : Titulaire du créneau et suppléant</b><br />
                La procédure de création de binôme concerne deux membres, le titulaire et le suppléant.<br />
                <b>Le titulaire </b>est le coopérateur qui va devenir responsable du binôme. Il est responsable de la réalisation des services. Par exemple, si le titulaire n’est pas à jour de ses services, les deux membres du binôme ne pourront plus faire leurs courses. C’est le titulaire qui doit faire la demande de binôme. C'est à partir de son espace membre que les services sont gérés.<br />
                <b>Le suppléant</b> est la personne qui va se rattacher au compte du titulaire. Elle n’aura pas d’obligation de faire un service et pourra faire ses courses. Son statut est &quot;désinscrit&quot;, c'est normal. Lorsqu'ielle vient faire un service c'est au nom du de la titulaire du binôme. En revanche, lors du passage en caisse chaque membre du binôme doit donner son propre nom.<br />
                Le titulaire et le suppléant peuvent s’organiser comme ils l’entendent pour remplir les obligations du titulaire. Ils peuvent faire un service sur deux ou se répartir l’année en deux semestres, ou bien encore, le titulaire peut faire tous les services et le suppléant aucun. Peu importe, ça les regarde.<br />
                <b>Il existe 3 conditions pour créer un binôme :</b><br />
                Les deux coopérateur.trice.s doivent justifier que leur situation nécessite un binôme.<br />
                Les deux coopérateur.trice.s doivent avoir fait au moins 4 créneaux avant de pouvoir former un binôme,<br />
                Les deux coopérateur.trice.s doivent être “à jour” pour former un binôme. Si l’un des membres n’est pas à jour, ses points négatifs peuvent être transférés à l’autre membre. Ainsi, une personne qui a 2 points d’avance peut rattacher à son compte une personne qui a -2 points à son compteur.<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="associated_subscribe_form_link_btn"
                  >
                    Création de binôme
                  </a>
                </div>
              </div>

              <div class="grp_text">
                <h3><b>Se désolidariser de son binôme</b></h3>
                Si pour quelconque raison l&quot;une des deux personnes composant le binôme souhaite le désolidarisé il faut remplir le formulaire qui suit. Par défaut nous inscrirons la personne suppléante sur le même créneau que la personne titulaire. Si cela ne lui convient pas elle devra demander à changer de créneau.<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="associated_unsubscribe_form_link_btn"
                  >
                    Ce désolidariser de binôme
                  </a>
                </div>
              </div>              
              <div class="grp_text">
                <h3><b>Changer de binôme</b></h3>
                Si l'un.e des deux personne composant le binôme souhaite changer de binôme il faut faire les deux demandes l'une après l'autre.
                
              </div>              
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width" >004 Spécial Covid: Tu as la Covid ou tu es cas contact, fin d'exemption Covid</span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <h3><b>Tu as la  Covid ou tu es cas contact que faire vis-à-vis de La Cagette ?</b></h3>
                <br />
                • Si tu as participé à un service merci de remplir ce formulaire, le comité Crise sanitaire se chargera de prévenir les personnes avec qui tu as pu être en contact. Si l'ARS te demande les noms des personnes tu peux les renvoyer vers l'adresse mail crisesanitaire@lacagette-coop.fr, le comité se chargera de leur transmettre les coordonnées des personnes concernées.<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="covid_form_link_btn"
                  >
                    J'ai le covid
                  </a>
                </div>
              </div>
              <div class="grp_text">
                <h3><b>Tu es cas contact que faire ?</b></h3>
                  Les recommandations de l'Agence Régionale de Santé sont les suivantes :<br />
                  • Si vous vivez seul•e :<br />
                  - Faites-vous tester 7 jours après le dernier contact avec la personne infectée, ne faites pas votre test trop tôt sinon il risque d'être négatif alors que vous pouvez être infecté•e<br />
                  - Isolez-vous et restez chez vous jusqu'au résultat du test.<br />
                  - Si le résultat du test est négatif et que vous n'avez pas de symptôme vous pouvez mettre fin à votre isolement.<br />
                  - Si le résultat du test est positif restez isolé·e 7 jours après la date du test.<br />
                  • Si vous vivez avec la personne malade :<br />
                  - Faites-vous tester au plus vite.<br />
                  - Isolez-vous et restez chez vous jusqu'au résultat du test.<br />
                  - Si le résultat du test est négatif restez isolé·e tant que la personne avec qui je vis est malade et pendant 7 jours après sa guérison, refaites un test 7 jours après sa guérison.<br />
                  - Si le résultat du test est positif restez isolé·e 7 jours après la date du test, une fois que vous n'avez plus de fièvre attendez 2 jours avant de mettre fin à votre isolement.<br />
                
              </div>
              <div class="grp_text">
                <h3><b>Tu ne veux plus être exemptée pour raison Covid, tu souhaites reprendre ton service</b></h3>
                Si tu bénéficies de l'exemption Covid mais que tu souhaites reprendre tes services merci de remplir ce formulaire. Tu seras alors réinscrite à ton créneau habituel. A bientôt
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="covid_end_form_link_btn"
                  >
                  Je souhaite reprendre mes services suite &agrave; une exemption Covid
                  </a>
                </div>
              </div>

                        
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width" >005 Je veux que mes enfants puissent faire les courses à ma place</span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <h3><b>Dans quel cas ?</b></h3>
                Les coops peuvent créer un compte de &quot;mineur rattaché&quot; à leurs enfants pour leur permettre d’aller faire les commissions.<br />
                <h3></b>Comment faire ?</b></h3>
                Rien de plus simple ! <br />
                Il suffit de remplir ce formulaire<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="underage_subscribe_form_link_btn"
                  >
                    Cr&eacute;er un compte mineur rattach&eacute;
                  </a>
                </div>
                Le Bureau des Membres traitera la demande dès que possible ! <br />
                Merci et bonne journée !
              </div> 
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width" >006 Je veux changer d'adresse mail</span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <h3><b>Dans quel cas ?</b></h3>
                Il arrive qu’au moment de l’inscription, une adresse mail erronée soit saisie. <br />
                Il se peut aussi qu’un membre change d’adresse mail.<br />
                Or l'adresse mail est utilisée comme identifiant pour se connecter à notre espace membre. <br />
                <h3><b>Comment faire ?</b></h2>
                C’est très simple ! <br />
                Il suffit de remplir ce formulaire<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="change_email_form_link_btn"
                  >
                  Changer d'adresse mail
                  </a>
                </div>
                Le Bureau des Membres traitera la demande dès que possible ! <br />
                Merci et bonne journée !
              </div> 
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width" >007 Je veux quitter la coopérative</span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <h3><b>Dans quel cas ?</b></h3>
                Les membres de La Cagette peuvent quitter la coopérative à tout moment, quel que soit le motif.<br />
                En ce qui concerne tes parts sociales, tu peux en demander le remboursement. Par défaut, si tu démissionnes et que tu ne fais pas de demande de remboursement, le montant de tes parts sociales sera considéré comme un don à la Cagette. <br />
                Cas particulier : <br />
                Si tu as acheté plus de 10 parts sociales de la Cagette, tu peux demander le remboursement de tes parts sociales au-delà de 10, tout en restant coopérateur.rice. Pour cela, tu n’as qu’à remplir le formulaire de demande de remboursement ci-dessous.<br />
                <br/><br>
                <h3><b>Modalités de remboursement</b></h3>
                <br>
                <h3>Délais de remboursement</h3>
                Ta demande de remboursement sera traitée lors de l’Assemblée Générale Ordinaire (AGO) qui statuera sur les comptes de l’exercice comptable au cours duquel ta demande a été faite (soit 4 à 5 mois après le 30 juin qui suit la demande). Après l'assemblée générale ordinaire annuelle, La Cagette pourra procéder au remboursement des anciens associés par virement. Toutefois certaines conditions particulières peuvent différer ce remboursement :<br />
                Si le capital de la coopérative a baissé de manière significative au point de mettre en danger la trésorerie de l’entreprise et son fonctionnement dans les mois à venir, l’AGO peut différer le remboursement à l’année suivante en maintenant la valeur de remboursement qu’elle vient de définir. Ce report pourrait se répéter 4 fois selon la situation financière de l’entreprise. Le remboursement doit quoi qu’il en soit intervenir dans un délai de maximum 5 ans à compter de la date de la demande.<br />
                <br>
                <h3>Valeur de remboursement des parts sociales</h3>
                La valeur nominale (d’émission) des parts sociales est fixe dans le temps (10€ la part), mais la valeur de remboursement des parts sociales, elle, varie en fonction des résultats économiques de l’entreprise. La Cagette étant une coopérative à but non lucratif, la valeur de la part ne pourra jamais excéder 10€, mais elle peut être moindre :<br />
                La valeur de la part dépend du résultat cumulé de la coopérative depuis sa création. Pour ouvrir le supermarché, nous avons réalisé de gros investissements. Aujourd'hui encore, bien que nos résultats aient été positifs en 2019 et 2020, le résultat net cumulé de la coopérative est négatif. En 2018, nous avons remboursé à une valeur de 5,02€ la part. Puis en 2019, à 7,58€ et en 2020, à 7,82€. Nous espérons pouvoir bientôt pouvoir atteindre une valeur de remboursement de 10€ la part, mais nous ne pouvons pas nous engager sur une année ou une date précise. La valeur de remboursement ne peut pas être connue avant la clôture de l’exercice le 30 juin.<br />
                La procédure de calcul de la valeur de remboursement de la part sociale à la Cagette résulte de l’application stricte de l’article 8 de la Loi de 1947 sur les sociétés coopératives. <br />
                Si tu souhaites attendre que la part sociale prenne de la valeur avant de te faire rembourser, il faut geler ton compte et  demander ta démission et ton remboursement plus tard.  Pour cela il suffit de te désinscrire de ton créneau en remplissant le formulaire &quot;Se désinscrire de son créneau&quot; dans la rubrique “Gestion de mon créneau”. Tu resteras membre de la cagette, ton statut sera “désinscrit”, tu n’auras pas de service à faire, et ne pourras plus faire tes courses).<br />
                <br><br>
                <h3><b>Comment faire ?</b></h3>
                C'est très simple : remplis ce formulaire pour obtenir par mail les documents de démission et/ou de demande de remboursement à nous renvoyer.<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="coop_unsubscribe_form_link_btn"
                  >
                  Se D&eacute;sinscrire de la coop&eacute;rative
                  </a>
                </div>
                
              </div> 
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width" >008 Brigade Solidaire: s'inscrire ou se désinscrire de la brigade </span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                Tu as du temps et tu souhaites soutenir davantage la Cagette, tu peux rejoindre la Brigade Solidaire. Remplis ce formulaire de contact et ensuite...Comment cela va-t-il fonctionner ?<br />
                -&gt; Des membres du comité Crise Sanitaire vont te rappeler pour t'expliquer bien en détail le fonctionnement<br />
                -&gt; Il faudra que tu t'inscrives comme d'habitude sur ton espace Membre pour faire un service<br />
                -&gt; Tu rejoindras si tu le souhaites le groupe Whatsapp pour être prévenu·e des créneaux critiques<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="helper_subscribe_form_link_btn"
                  >
                  Inscription brigade solidaire
                  </a>
                </div>
                
              </div> 
              <div class="grp_text">
                Tu n'as plus la possibilité de participer à la Brigade Solidaire. Merci de remplir le formulaire ci dessous afin que nous te réinscrivions sur ton ancien créneau. Attention si tu étais volant.e tu n'auras plus de créneau car le créneau volant n'existera plus à partir du 1er février 2021. Il te faudra te réinscrire à un créneau ABCD en remplissant le formulaire du même nom.<br />
                Merci pour ton aide et ton investissement à la Cagette!!<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="helper_unsubscribe_form_link_btn"
                  >
                  D&eacute;sinscription brigade solidaire
                  </a>
                </div>
                
              </div> 
            </div>
            <button type="button" class="accordion btn_faq">
              <span class="full_width" >009 Faire une autre demande au BDM: seulement si les autres formulaires ne correspondent pas à ma demande </span>
            </button>
            <div class="input-container panel">
              
              <div class="grp_text">
                <br>
                Nous avons créé des formulaires spécifiques pour la plupart des problèmes rencontrés par les membres. Changer de créneau, créer un binôme, ajouter un produit à la gamme, partir en vacances... <br />
                Cela dit, nous en découvrons de nouveaux tous les jours.<br />
                Si tu n'as pas su quel formulaire remplir, tu es au bon endroit. <br />
                Vas-y dit nous tout !<br />
                <div class="faq_link_button_area">
                  <a
                    href="javascript:void(0);"
                    target="_blank"
                    type="button" 
                    class="btn--primary faq_link_button" 
                    id="request_form_link_btn"
                  >
                    Faire une demande au BDM
                  </a>
                </div>
                
              </div> 
            </div>
                  




                  
              
          </div> 
        </div>
      </div>
    </div>
    
  </div>
   
</div>

