<div id="my_info">
    <div class="page_title txtcenter">
        <h1>Mes Infos Perso</h1>
    </div>
    <div class="tiles_container">
        <div class="tile full_width_tile" id="my_info_area">
            <div class="tile_title">
                <i class="fas fa-user tile_icon"></i>
                <span class="member_info member_name"></span>
            </div>
            <div class="tile_content" id="my_info_content">
                <div class="my_info_line">
                    <div class="my_info_line_left">
                        Statut
                    </div>
                    <div class="my_info_line_right">
                        <p class="member_info member_status"></p>
                        <div class="delay_date_stop_container">
                            ( jusqu'au <span class="delay_date_stop"></span> )
                        </div>
                        <div id="member_status_action">
                            <a href="#" target="_blank" class="btn--warning unsuscribed_form_link">
                                J'accède au formulaire
                            </a>
                            <button type="button" class="btn--danger choose_makeups">
                                Je sélectionne mes rattrapages
                            </button>
                        </div>
                    </div>
                </div>
                <div class="my_info_line">
                    <div class="my_info_line_left">
                        Créneau
                    </div>
                    <div class="my_info_line_right member_shift_name_area">
                        <span class="member_shift_name member_info"></span>
                    </div>
                </div>
                <div class="my_info_line">
                    <div class="my_info_line_left">
                        Numéro de coop
                    </div>
                    <div class="my_info_line_right member_coop_number_area">
                        <div class="member_coop_number_area">
                            <span class="member_coop_number member_info"></span>
                        </div>
                    </div>
                </div>
                <div class="my_info_line member_email_line">
                    <div class="my_info_line_left">
                        Email
                    </div>
                    <div class="my_info_line_right member_email_area">
                        <span class="member_email member_info"></span>
                    </div>
                </div>
                <div class="my_info_line member_address_line">
                    <div class="my_info_line_left">
                        Adresse
                    </div>
                    <div class="my_info_line_right member_address_area">
                        <span class="member_address member_info"></span>
                    </div>
                </div>
                <div class="my_info_line member_phone_line">
                    <div class="my_info_line_left">
                        Téléphone
                    </div>
                    <div class="my_info_line_right member_phone_area">
                        <span class="member_phone member_info"></span>
                        <span class="member_mobile member_info"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile full_width_tile" id="attached_info_area">
            <div class="tile_title">
                Mon Binôme
              </div>
            <div class="tile_content" id="attached_info">
                <div class="my_info_line attached_partne_name_line">
                    <div class="my_info_line_left">
                        Je suis en binôme avec :
                    </div>
                    <div class="my_info_line_right attached_partne_name_area">
                        <span class="attached_partner_name member_info"></span>
                    </div>
                </div>
                <div class="my_info_line pairs_info">
                    <span>
                        Attention : Toutes les actions (changement de service, choix d'un rattrapage...) 
                        ne sont faisables que sur l'espace membre du <b>binôme principal</b>.
                    </span>
                    <br>
                    <span>
                        Dans mon espace membre, les infos ne sont visibles qu'en lecture seule.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>