<div id="my_info">
    <div class="page_title txtcenter">
        <h1>Mes Infos Perso</h1>
    </div>
    <div class="tiles_container">
      <div class="tile full_width_tile" id="my_info_area">
        <div class="tile_content" id="my_info">
            <div class="my_info_line">
                <div class="my_info_line_left">
                    Statut
                </div>
                <div class="my_info_line_right">
                    <p class="member_info member_status"></p>
                    <div class="delay_date_stop_container">
                        ( jusqu'au <span class="delay_date_stop"></span> )
                    </div>
                    <div id="member_status_action">
                        <a href="#" target="_blank" class="btn--warning unsuscribed_form_link">
                            J'accède au formulaire
                        </a>
                        <button type="button" class="btn--danger choose_makeups">
                            Je sélectionne mes rattrapages
                        </button>
                    </div>
                </div>
            </div>
            <div class="my_info_line">
                <div class="my_info_line_left">
                    Créneau
                </div>
                <div class="my_info_line_right member_shift_name_area">
                    <span class="member_shift_name member_info"></span>
                </div>
            </div>
            <div class="my_info_line">
                <div class="my_info_line_left">
                    Numéro de coop
                </div>
                <div class="my_info_line_right member_coop_number_area">
                    <div class="member_coop_number_area">
                        <span class="member_coop_number member_info"></span>
                    </div>
                </div>
            </div>
            <div class="my_info_line member_email_line">
                <div class="my_info_line_left">
                    Email
                </div>
                <div class="my_info_line_right member_email_area">
                    <span class="member_email member_info"></span>
                </div>
            </div>
            <div class="my_info_line member_address_line">
                <div class="my_info_line_left">
                    Adresse
                </div>
                <div class="my_info_line_right member_address_area">
                    <span class="member_address member_info"></span>
                </div>
            </div>
            <div class="my_info_line member_mobile_line">
                <div class="my_info_line_left">
                    Téléphone mobile
                </div>
                <div class="my_info_line_right member_mobile_area">
                    <span class="member_mobile member_info"></span>
                </div>
            </div>
            <div class="my_info_line member_phone_line">
                <div class="my_info_line_left">
                    Téléphone fixe
                </div>
                <div class="my_info_line_right member_phone_area">
                    <span class="member_phone member_info"></span>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>