
<div id="my_shifts">
  <div class="page_title txtcenter">
    <h1>Mes Services</h1>
  </div>
  <div class="tiles_container">
    <div class="tile full_width_tile" id="incoming_services_area">
      <div class="tile_title">
        À venir
      </div>
      <div class="tile_content" id="incoming_services"></div>
    </div>
    <div class="tile full_width_tile" id="history_area">
      <div class="tile_title">
        Historique des mouvements de points
      </div>
      <div class="tile_content" id="history">
        <div class="history_table">
          <div class="history_table_header">
            <div class="table_header_el table_header_date">
              Date
            </div>
            <div class="table_header_el table_header_created_by">
              Créé par
            </div>
            <div class="table_header_el table_header_service">
              Service ?? 
            </div>
            <div class="table_header_el table_header_desc">
              Description
            </div>
            <div class="table_header_el table_header_pts">
              Mouvement de points
            </div>
          </div>
          <div class="history_table_content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>