<div id="shifts_exchange">
    <div id="shifts_exchange_content">
        <div id="need_to_select_makeups_message">
            <span class="select_makeups_message_block">
                <i class="fas fa-exclamation-triangle makeups_warning"></i>  
                J'ai <span class="makeups_nb"></span> rattrapage(s) à faire. </span>
            <span class="select_makeups_message_block">Je dois les sélectionner dans le calendrier. </span>
            <span class="select_makeups_message_block">Je ne peux pas échanger de service tant que je n'ai pas choisi mes rattrapages. </span>
        </div>
        <div id="partner_shifts_list">
            <h4>Liste de mes services :</h4>
            <div class="loading-incoming-shifts">
                <i class="fas fa-spinner fa-spin fa-lg"></i>
            </div>
            <div id="shifts_list"></div>
        </div>
        <div id="calendar"></div>
    </div>
</div>
