<div class="tile full_width_tile">
    <div class="tile_title">
        Comprendre mon statut
    </div>
    <div class="my_info_line_middle">
        Il existe différents statuts à La Cagette donnant ou non le droit de faire ses courses. Voici un schéma explicatif expliquant le passage d'un statut à un autre. Pour toute question relative aux statuts, rendez&#x2011;vous dans la rubrique <a href='faq'>Problèmes&nbsp;&&nbsp;Demandes</a>.
    </div>
    <a href="/static/img/diagramme_etat_statut_cooperateurs.png" target=”_blank”>
        <img class="status_info_image" src="/static/img/diagramme_etat_statut_cooperateurs.png" alt="diagramme_etat_statut_cooperateurs"/>
    </a>

</div>