
#dashboard h2 {margin:25px; padding:5px; border:1px solid #efefef; background:#ffffff;}
.validate_container {background:#00b0f0;}
.errors_container {background:#f000c0;}
div.coop {margin:15px;}
div.coop span
{padding:5px;   border: 1px solid #000000;border-radius: 15px; background:#ffffff; cursor:pointer;}
div.coop_no_select span {background:#ccc !important; cursor:default;}

#coop_page, #warning_slide {display:none;}
.title p {font-weight:bold;}
#coop_validation_form {width:980px;margin:auto;}
#coop_validation_form input , #warning_slide input{
  text-indent: 5px;
}

#coop_validation_form [name="email"]
{max-width:545px;}
[name="barcode_base"],
#coop_validation_form [name="shares_nb"],
#coop_validation_form [name="shares_euros"],
#coop_validation_form [name="checks_nb"],
#coop_validation_form input.check_item
 {width:80px;}
#coop_validation_form [name="ftop"] {width:70px;display: none;}
#coop_validation_form [name="address"],  #coop_validation_form [name="street2"] {width:100%;}
#coop_validation_form [name="street2"] {margin-top: 3px;}
#coop_validation_form [name="zip"] {width:100px;}
#coop_validation_form .phone-wrapper-2 {
    clear: both;
    display: block;
    margin-top: 8px;
}
#choosen_shift input {width:50px;}
#choosen_shift [name="week"] {width:30px;}
#choosen_shift [name="place"]{width:75px;}
#choosen_shift [name="hour"] {width:60px;}
#coop_validation_form [disabled] {text-indent:1px; color:#404040;}
[name="signaler"] {color:#ffffff !important;}

#warning_slide h1,  #coop_page h1 {text-transform: uppercase;}
#warning_slide .main-content {width:980px;margin:auto;}
#new_warning_form textarea {width:100%;margin-bottom:15px;}


#ready_for_odoo,  #waiting_validation {display:none;margin-top:35px;}
#ready_for_odoo div.coop span,
#done  div.coop span,
#done h2
 {background: #60B000;}


#msg_box {display:none;}

#coop_validation_form p.buttons {margin-top:20px;}

p.coop_msg {color: #ff0000 ;}
p.important {border: #ff0000 1px solid; padding: 15px; margin-top:15px;}

#change_shift_template {display:none; color: #ffffff;}
#shift_choice > div {display:none;}

#form_delete, #problem_delete {display:none;}

#dashboard {margin-bottom:25px;}
