<div id="faqBDM" class=" mt-3">
    <div class="page_title txtcenter"><h1> Problèmes et demandes </h1></div>
    <div class="tiles_container">
        <div class="tile full_width_tile">
            <div class="tile_content">
                <div class="block">
                    <div class="faq_intro_texts">
                        <p>Bienvenue dans la Foire Aux Questions du Super Cafoutch. Nous espérons que tu y trouveras des réponses.</p>
                    </div>
                    <div class="param">
                        <button type="button" class="accordion btn_faq"><span class="full_width">1. Je suis indisponible ou dans l'incapacité d'effectuer un ou plusieurs services.</span>
                        </button>
                        <div class="input-container panel">
                            <div class="info_slots_shifts"><p><i class="fas fa-exclamation-circle"></i> <b>Créneau versus service,
                                c'est quoi la différence ?</b></p>
                                <p>Un créneau, c'est une plage récurrente, par exemple, tous les jeudis de semaine A de 15h15 à 18h15.</p>

                                <p>Un service, c'est une plage horaire en particulier, par exemple le jeudi 28 novembre de 15h15 à 18h15.</p>

                            </div>
                            <div class="grp_text"><h3><b>Je veux changer de créneau</b></h3>
                                <p class="attached-unblocked"> Envoie un mail au Bureau des Membres
                                    <a href="mailto:bdm@supercafoutch.fr?subject=Demande de changement de créneau">bdm@supercafoutch.fr</a> en indiquant la semaine (A,B,C ou D), le jour de la semaine
                                    et l’horaire du créneau. N’hésite pas à formuler plusieurs vœux car certains
                                    créneaux sont déjà complets. </p>
                            </div>
                            <div class="grp_text"><h3><b>Je suis ponctuellement indisponible pour effectuer un service ou je m'absente pour une courte durée (4 semaines maximum)</b></h3>
                                <p class="attached-unblocked"> Tu peux échanger le ou les services que tu ne pourras pas assurer en autonomie sur ton espace
                                    membre. Le lien ci-dessous te conduit sur l’onglet "Échange de services” de ton
                                    espace
                                    membre. Sélectionne ensuite le service auquel tu ne peux pas être présent et choisis
                                    un
                                    service de remplacement dans le calendrier. Nous te demandons de t’y prendre au moins 24
                                    heures à l’avance pour des raisons logistiques. </p>
                                <div class="faq_link_button_area"><a href="javascript:void(0);" type="button"
                                                                     class="btn--primary faq_link_button"
                                                                     id="shift_exchange_btn"> J'échange mon service </a>
                                </div>
                            </div>
                            <div class="grp_text"><h3><b>Je suis dans l'incapacité de faire mes services pour raison de santé (plus de 4 semaines)</b></h3>
                                <p class="attached-unblocked"> Si ton état de santé ne te permet pas de faire tes
                                    services, que ce soit
                                    temporairement ou non, tu en seras exempté et tu pourras
                                    continuer à faire tes courses. Explique ta situation au Bureau des Membres
                                    <a href="mailto:bdm@supercafoutch.fr?subject=Incapacité à faire mes services pour raison de santé">bdm@supercafoutch.fr</a> et n'oublie pas de le dire à ton capitaine d'équipe. Si ton
                                    incapacité est
                                    temporaire, n’oublie pas de recontacter le Bureau des Membres à ton retour pour te
                                    réinscrire sur un créneau. </p>
                            </div>
                            <div class="grp_text"><h3><b>Je m'absente plus longtemps pour une autre raison (plus de 4 semaines)</b></h3>
                                <p class="attached-unblocked"> Envoie un mail au Bureau des Membres

                                    <a href="mailto:bdm@supercafoutch.fr?subject=Incapacité à faire mes services pour cause d'absence prolongée">bdm@supercafoutch.fr</a>
                                    et à ton capitaine d'équipe en indiquant tes dates de début et de
                                    fin d’absence. Pendant ton absence, tu ne fais pas de service et tu ne peux pas
                                    faire tes courses. </p>
                            </div>
                        </div>

                        <button type="button" class="accordion btn_faq"><span class="full_width">2. Je suis en statut "Rattrapage" ou "Désinscrit.e" et je ne peux pas faire mes courses</span>
                        </button>
                        <div class="input-container panel">
                            <div class="grp_text"><h3><b>Dans quel cas ?</b></h3> Tu es en statut "Rattrapage" si tu as
                                manqué un service.<br/> Tu es désinscrit.e après avoir manqué trois services consécutifs sans
                                les rattraper. Tu es désinscrit.e de ton créneau afin d'y libérer une place. Il se peut aussi
                                que tu n'aies encore jamais été inscrit.e sur un créneau.
                            </div>
                            <div class="grp_text"><img src="/static/img/diagramme_etat_statut_cooperateurs.png"/>
                                <h3><b>Que faire ? </b></h3>                 <h4>Si tu es en statut "Rattrapage" :</h4>
                                <p class="attached-unblocked">Tu as manqué un service et tu ne t'es pas inscrit à un rattrapage. Tu ne peux plus faire tes courses.
                                Il faut t'inscrire au rattrapage sur ton espace membre, tu
                                as 6 mois pour l'effectuer. Quand tu seras inscrit à ton rattrapage, tu seras en statut
                                "Délai" et tu pourras de nouveau faire tes courses.<br/> Pour choisir tes rattrapages,
                                clique sur le bouton ci-dessous.</p>
                                <div class="faq_link_button_area"><a href="echange-de-services" type="button"
                                                                     class="btn--primary faq_link_button"> Je
                                    sélectionne mes rattrapages </a></div>
                            </div>
                            <div class="grp_text"><h4>Si tu es désinscrit.e :</h4> <p class="attached-unblocked">Tu as raté trois services consécutifs
                                sans les rattraper ou tu n'as pas effectué les rattrapages auxquels tu étais
                                inscrit.<br/>
                                Tu es désinscrit.e de ton créneau afin d'y libérer une place.<br/>Il se peut aussi
                                que tu n'aies encore jamais été inscrit sur un créneau.<br/><br/> Pour t'inscrire ou te
                                réinscrire, contacte le Bureau des Membres
                                <a href="mailto:bdm@supercafoutch.fr?subject=Inscription / réinscription créneau fixe">bdm@supercafoutch.fr</a>
                                en indiquant la semaine, le jour et l'horaire du créneau souhaité. Envoie
                                plusieurs vœux car certains créneaux sont déjà complets. Dès que tu es
                                réinscrit sur un créneau, n'oublie pas de t'inscrire à tes deux rattrapages.</p></div>
                            <div class="grp_text"><p class="attached-unblocked"> Si tu ne comprends pas pourquoi tu es désinscrit.e ou suspendu.e, tu
                                peux le signaler au Bureau des Membres <a href="mailto:bdm@supercafoutch.fr?subject=Problème désinscription créneau">bdm@supercafoutch.fr</a>
                                pour qu'il règle le problème.<br/> N'hésite pas à indiquer un
                                maximum d'informations sur ta situation pour nous aider à régler cette situation.</p>
                            </div>
                        </div>

                        <button type="button" class="accordion btn_faq"><span
                                class="full_width">3. Autres questions</span>
                        </button>
                        <div class="input-container panel">
                            <div class="grp_text"><h3><b>Je suis arrivé.e en retard ou j'ai oublié de pointer</b></h3>
                                <p class="attached-unblocked"> Si tu as effectué ton service mais que tu ne l’as pas
                                    validé à l'entrée du magasin, il te faut prévenir le Bureau des Membres
                                    <a href="mailto:bdm@supercafoutch.fr?subject=J'ai oublié de valider mon service">bdm@supercafoutch.fr</a> en indiquant la date et l’heure du service concerné. Le
                                    Bureau des Membres pourra intervenir pour que tu n’aies pas à t’inscrire à un
                                    service de rattrapage. </p>
                            </div>
                            <div class="grp_text"><h3><b>Je viens / nous venons d'avoir un bébé. Est-ce que je dois quand même faire mes services pour pouvoir faire mes courses ?</b></h3>
                                <p class="attached-unblocked"> Lors de la naissance (ou l’adoption) d’un enfant, les
                                    coopérateurs peuvent continuer à faire leur courses sans faire de service pendant 12
                                    mois.
                                    Si les deux parents sont membres de la coopérative, ils peuvent se partager ces 12
                                    mois comme ils l'entendent. Il peuvent prendre par exemple 6 mois chacun en même
                                    temps ou 8 mois pour l'un puis 4 mois pour l'autre.
                                    Envoie un mail au Bureau des Membres <a href="mailto:bdm@supercafoutch.fr?subject=Demande de congé parental de services">bdm@supercafoutch.fr</a>
                                     avec les dates souhaitées. </p>
                            </div>
                            <div class="grp_text"><h3><b>Je veux changer d'adresse mail</b></h3>
                                <p class="attached-unblocked"> Il arrive qu’au moment de
                                    l’inscription, une adresse mail erronée soit saisie. Il se peut aussi qu’un membre
                                    change d’adresse mail. Or l'adresse mail est utilisée comme identifiant pour se
                                    connecter à l'espace membre.
                                    Envoie simplement un message à <a href="mailto:bdm@supercafoutch.fr?subject=Changement d'adresse mail">bdm@supercafoutch.fr</a> avec ta nouvelle adresse. </p>
                            </div>
                            <div class="grp_text"><h3><b>Je n'ai pas trouvé la réponse à ma question</b></h3>
                                <p class="attached-unblocked"> Envoie un mail à <a href="mailto:bdm@supercafoutch.fr?subject=Je n'ai pas trouvé la réponse à ma question">bdm@supercafoutch.fr</a>. On parie que tu
                                    t’en doutais :-). <br/> Attention : si tu souhaites contacter le BDM pour prévenir que tu
                                    seras absent-e à ton service cela ne sert à rien ! Il te faut déplacer ton service
                                    via ton espace membre. Il n'est cependant pas possible d'échanger un service qui
                                    commence dans moins de 24h pour des raisons logistiques. Si tu ne peux pas venir,
                                    tu seras donc comptabilisé-e absent-e. Tu basculeras en statut "Rattrapage" et ne
                                    pourras plus faire tes courses. Il te faudra sélectionner dans ton espace membre un
                                    rattrapage à faire dans les 6 prochains mois pour basculer en statut "Délai" et
                                    pouvoir faire de nouveau tes courses. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

