{% extends "base.html" %}
{% load static %}

{% block additionnal_css %}
<link rel="stylesheet" href="{% static 'css/admin/bdm_index.css' %}">
{% endblock %}

{% block additionnal_scripts %}
<script type="text/javascript" src="{% static 'js/admin/bdm_index.js' %}?v="></script>
<script type="text/javascript" src="{% static 'js/notify.min.js' %}?v="></script>
{% endblock %}

{% block content %}
<div class="page_body">
    <div class="login_area">
        {% include "common/conn_admin.html" %}
    </div>
    <div class="page_content">
        <div class="header txtcenter">
            <h1>Bienvenue sur l'interface d'administration BDM</h1>
        </div>

        <div class="management_type_buttons txtcenter">
            <button type="button" class="btn--primary management_type_button" id="manage_makeups_button">
                Gestion des rattrapages
                <span class="management_type_button_icons"><i class="fas fa-arrow-right"></i></span>
            </button><br>
            <button type="button" class="btn--primary management_type_button" id="manage_shift_registrations_button">
                Gestion des présences
                <span class="management_type_button_icons"><i class="fas fa-arrow-right"></i></span>
            </button><br>
            <button type="button" class="btn--primary management_type_button" id="manage_attached_button" disabled>
                Gestion des binômes
                <span class="management_type_button_icons"><i class="fas fa-wrench"></i></span>
                {# <span class="management_type_button_icons"><i class="fas fa-arrow-right"></i></span> #}
            </button><br>
            <button type="button" class="btn--primary management_type_button" id="manage_leaves_button" disabled>
                Gestion des congés
                <span class="management_type_button_icons"><i class="fas fa-wrench"></i></span>
                {# <span class="management_type_button_icons"><i class="fas fa-arrow-right"></i></span> #}
            </button><br>
            <button type="button" class="btn--primary management_type_button" id="manage_regular_shifts_button">
                Gestion des créneaux
                <span class="management_type_button_icons"><i class="fas fa-arrow-right"></i></span>
            </button><br>
        </div>
    </div>
</div>

<script src="{% static "js/all_common.js" %}?v="></script>
{% endblock %}
