{% extends "base.html" %}
{% load static %}

{% block additionnal_css %}
<link rel="stylesheet" href="{% static 'css/datatables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/admin/manage_attached.css' %}">
<link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}">

{% endblock %}

{% block additionnal_scripts %}
  <script type="text/javascript" src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datatables/datatables.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page_body">
    <div id="back_to_admin_index">
        <button type="button" class="btn--danger"><i class="fas fa-arrow-left"></i>&nbsp; Retour</button>
    </div>
    <div class="login_area">
        {% include "common/conn_admin.html" %}
    </div>
    <div class="header txtcenter">
        <h1>Gestion des Binômes</h1>
    </div>

    <div class="page_content">
        <div class="tiles_container">
            <div class="tile high_tile">
              <div id="search_member_form_area">
                  <h4>Rechercher le.a coopérateur.ice titulaire</h4>
                  <form autocomplete="off" id="search_member_form" action="javascript:;" method="post">
                    <input name="searchParent" type="text" id="search_member_input" value="" placeholder="Nom ou numéro du coop..." required>
                  </form>
              </div>
              <div id="parentInfo" style="display:none;">
                <div>Nom</div><div id="name"></div>
              </div>
            </div>
          </div>
          <div class="tiles_container">
            <div class="tile high_tile">
              <div id="search_member_form_area">
                  <h4>Rechercher le.a coopérateur.ice co-titulaire</h4>
                  <form autocomplete="off" id="search_member_form_child" action="javascript:;" method="post">
                    <input name="searchChild" type="text" id="search_child_input" value="" placeholder="Nom ou numéro du coop..." required>
                  </form>
              </div>
              <div id="childInfo" style="display:none;">
                <div>Nom</div><div id="name"></div>
              </div>
            </div>
          </div>
          <div class="create-pair">
            <button id="createPair" type="button" name="button" disabled>Créer le binôme</button>
          </div>
</div>

<script src='{% static "js/all_common.js" %}?v='></script>
<script src='{% static "js/admin/manage_attached.js" %}?v='></script>
{% endblock %}
