<div>
    <button type="button" class="accordion" style="width:100%"><label>Comment sont calculées les conso. moyennes / jour ?</label></button>
    <div class="txtleft" style="display: none;">
        <p>
            La fonction qui calcule les consommations moyennes prend en paramètre soit :
        </p>
        <ul>
          <li>un nombre de jours de couverture</li>
          <li>un montant en €</li>
        </ul>
        <p>
            qu'il sera ensuite possible d'ajuster en pourcentage.<br/>
        </p>
        <p>
            Si rien n’est indiqué, le paramètre de calcul pris en compte sera : "<em>aujourd'hui - nb de jours paramétré dans Odoo</em>".<br/>
            Le nombre de jours paramétré est actuellement de <strong>{{nb_past_days_to_compute_sales_average}}</strong> jours.<br/>
        </p>
        <blockquote>
            Ce nombre de jours paramétrable se trouve en suivant les menus suivants :<br>
            Configuration > Technique > Paramètres > Paramètres systèmes. <br/>
            La valeur est définie avec la clef "<em>lacagette_products.nb_past_days_to_compute_sales_average</em>".<br/>
        </blockquote>
        <br>
        <p>
            <strong>Dans le cas d'un nombre de jours de couverture :</strong>
        </p>
        <p>
            Une requête est faite sur l'ensemble des passages en caisse, du Nb jours de couverture à hier, récupérant pour tous les jours de la période (dimanches exclus) les quantités vendues des articles achetés chez le fournisseur.<br/>
            Pour chaque article, le nombre de jours considérés pour faire la moyenne est défini comme suit :<br/>
            "<em>Nb de jours ouvrés de la période - Nb de jours des périodes de rupture</em>"<br/>
            Le nombre de jours consécutifs sans vente pour considérer l'article en rupture est actuellement de <strong>{{nb_of_consecutive_non_sale_days_considered_as_break}}</strong> jours.<br/>
        </p>
        <blockquote>
            Cette période de rupture est paramétrable en suivant les menus suivants :<br>
            Configuration > Technique > Paramètres > Paramètres systèmes. <br/>
            La valeur est définie avec la clef "<em>lacagette_products.nb_of_consecutive_non_sale_days_considered_as_break</em>".<br/>
        </blockquote>
        <p>
            Pour chaque article, la consommation moyenne par jour est obtenue en divisant la quantité totale vendue sur la période par le nombre de jours significatifs.
        </p>
        <br>
        <p>
            <strong>Dans le cas d'un montant en € :</strong>
        </p>
        <p>
            En entrant un montant, la fonction calculera et remplira les quantités d'articles à commander pour être au plus près de ce montant (en étant supérieur ou égal), tout en tenant compte des consommations moyennes des articles.
        </p>

    </div>
</div>
<div>
    <button type="button" class="accordion" style="width:100%"><label>Comment sont calculés les besoins ?</label></button>
    <div class="txtleft" style="display: none;">
        La quantité à commander pour couvrir les besoins (en jours ou à partir d'un montant en €) est le résultat de :
        <p>
            (<em>nb_jours</em> <strong>x</strong> <em>conso_moyenne</em>) <strong>-</strong> <em>stock_existant</em> <strong>-</strong> <em>quantités_entrantes</em> <br/>
            Si la quantité est inférieure à <em>stock_minimum</em> alors c'est la valeur de <em>stock_minimum</em> qui est prise.
        </p>
        <p>
            Pour plus de précisions, ce résultat peut-être ensuite ajusté en pourcentage.
        </p>

    </div>
</div>
