body {
    margin: 0;
}

.page_title {
    margin: 35px 0 30px 0;
}

/* -- Tiles */

.tiles_container {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    flex: 1 0 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    min-height: 350px;
    margin: 1rem 1rem;
    box-shadow: 2px 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
}

.full_width_tile {
    flex: 1 0 90%;
    min-height: 100px;
}

.tile_title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e7e9ed;
    font-size: 2.7rem;
    padding: 2rem 0;
    width: 80%;
}

.tile_content {
    position: relative;
    margin: 3rem 0;
    width: 80%;
    display: flex;
}

#home_tile_services_exchange .tile_content {
    justify-content: center;
}


/* -- My Shifts tile */

#home_tile_my_services .tile_content {
    height: 100%;
    flex-direction: column;
}

#home_incoming_services {
    min-height: 80px;
    display: flex;
    flex-direction: column;
}

#home_go_to_shift_history {
    margin-top: 30px;
}

.shift_line {
    margin-left: 15px;
    line-height: 2;
}

.shift_line_chevron {
    color: #D9534F;
    margin-right: 5px;
}

/* -- My Info tile*/

.tile_icon {
    margin-right: 15px;
    color: #00a573;
}

#home_tile_my_info .tile_content {
    height: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 2.3rem;
}

.home_member_info {
    font-size: 2rem;
    font-weight: bold;
}

#home_member_status_extra_info_area {
    margin-bottom:20px;
}
#home_choose_makeups {
    display: none;
    font-size: 1.8rem;;

}

.member_status_up_to_date,
.member_status_exempted {
    color: #5cb85c;
}
.member_status_alert,
.member_status_delay {
    color: #f0ad4e;
}
.member_status_suspended,
.member_status_unsubscribed {
    color: #d9534f;
}

#home_member_shift_name_area,
#home_member_coop_number_area {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #home_member_shift_name_area,
    #home_member_coop_number_area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#home_delay_date_stop_container {
    color: #f0ad4e;
    margin-top: -1rem;
    margin-bottom: 1rem;
    display: none;
}