/* We override some styles defined on the home page for the specific needs of the My Info page */

#my_info {
    font-size: 2rem;
}

#my_info_content {
    display: flex;
    flex-direction: column;
}

.my_info_line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.5rem 0;
}

@media screen and (min-width: 351px) and (max-width: 435px) {
    .my_info_line {
        font-size:  80%;
        padding: 2vw 0;
    }
}

@media screen and (max-width: 350px) {
    .my_info_line {
        font-size:  3.5vw;
        padding: 2vw 0;
    }
}

.my_info_line_left {
    width: 50%;
    text-align: right;
    padding-right: 2rem;
    font-weight: bold;
}


.my_info_line_right {
    width: 50%;
    padding-left: 2rem;
    max-width: 100%;
    word-break: break-all;
}

#my_info #member_status_action,
#my_info .member_shift_name_area,
#my_info .member_coop_number_area {
    margin-bottom: 0;
}

#attached_info {
    display: flex;
    flex-direction: column;
}

.pairs_info {
    background-color: #00a573;
    color: white;
    padding: 1.5rem 1.2rem;
    margin: 2rem 0;
}

@media screen and (max-width: 768px) {
    #my_info {
        font-size: 1.7rem;
    }
    .my_info_line_left {
        width: 30%;
        padding-right: 1rem;
    }
    .my_info_line_right {
        width: 70%;
        padding-left: 1rem;
    }

    #attached_info .my_info_line_left {
        width: 100%;
        text-align: left;
        padding: 0;
    }
    #attached_info .my_info_line_right {
        width: 100%;
        padding: 0;
    }

    #my_info .choose_makeups,
    #my_info .unsuscribed_form_link {
        white-space: normal;
    }

    #my_info .delay_date_stop_container {
        white-space: nowrap;
    }

    #my_info .member_coop_number_area,
    #my_info .member_shift_name_area {
        align-items: flex-start;
    }   
}
