#shifts_exchange_content {
    width: 95%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

#shifts_list {
    flex-direction: column;
    display: none;
    width: min-content;
    max-width: 100%;
}

@media screen and (max-width:768px) {
    #partner_shifts_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.selectable_shift_line {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin: 0.75rem 0;
    border-radius: 5px;
}

.selectable_shift_line .checkbox {
    margin-right: 10px;
}

.selectable_shift_line.btn {
    cursor: not-allowed;
}

#need_to_select_makeups_message {
    display: none;
    align-self: center;
    background-color: #d9534f;
    color: white;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 1.25rem;
    text-align: center;
}

.makeups_warning {
    margin-right: 3px;
}

@media screen and (max-width:768px) {
    .select_makeups_message_block {
        display: block;
    }
}

#calendar {
    margin: 3rem 1rem;
    display: none;
}

.fc .fc-event {
    cursor: pointer;
    margin: 1px 10px !important;
}

.fc-event.shift_booked {
    background-color: #585858;
    cursor: auto;
    border-color: #585858;
}

.fc-list-event.shift_booked {
    color: white;
}

#calendar .fc-list-table {
    table-layout: auto;
}

.resp-header-toolbar {
    display: flex;
    flex-direction: column;
}

.resp-header-toolbar .fc-toolbar-chunk {
    text-align: center;
    margin: 0.25rem;
}

.date_old_shift, .time_old_shift, .date_new_shift, .time_new_shift {
    font-weight: bold;
}